<div class="form_title">
  <h1>Editing image</h1>
</div>

<%= render 'form' %>

<div class="form_footer">
  <%= link_to 'Show', @image %> |
  <%= link_to 'Back', images_path %> |
  <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
