<div class="container">	
  <!-- Codrops top bar -->

  <div class="codrops-top clearfix">
    <span class="right"><a href=<%= new_image_path %>><strong>Submit Photo</strong></a></span>
  </div><!--/ Codrops top bar -->

  <h1>Faizal Zakaria</h1>

  <div id="gr-gallery" class="gr-gallery">
    <div class="gr-main">
      <!-- back end -->
      <% @images.each do |image| %>
      <figure>
        <div>
          <img src=<%= image.url %> alt="img01" />
        </div>
        <figcaption>
          <h2><span><%= image.description %></span></h2>
        </figcaption>
      </figure>
      <% end %>
    </div>
  </div>
</div><!-- /container -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_include_tag "wallgallery.js" %>
<script>
  $(function() {

  Gallery.init( {
  layout : [3,2,3,2]
  } );

  });
</script>
