<div class="container">	
  <!-- Codrops top bar -->
  <div class="codrops-top clearfix">
    <span class="right"><a href="submitphoto.html"><strong>Submit Photo</strong></a></span>
  </div><!--/ Codrops top bar -->

  <h1>Faizal Zakaria</h1>

  <div id="gr-gallery" class="gr-gallery">
    <div class="gr-main">
      <!-- back end -->
      <figure>
        <div>
          <img src="https://lh6.googleusercontent.com/-CIhdnzt8jqg/TYdGRb7Fq_I/AAAAAAAAAGw/wjaCDBNlDRg/s1600/funny+sexy.jpg" alt="img01" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://artsyswag.com/img/weird/weird-photoshop/weird-photoshop05.jpg" alt="img02" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://wallcapture.com/wp-content/uploads/2013/03/Funny-Wallpaper-HD.jpg" alt="img03" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg" alt="img04" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://slowbuddy.com/wp-content/uploads/2012/03/funny-pics_8409_1.jpg" alt="img05" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://funnypicturesquotes.com/wp-content/uploads/2013/02/exC67hThhJ__Indian_Funny_Baby_Picture_Lol_ksksAxxSs22.jpg" alt="img06" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://ycpics.com/wp-content/uploads/2011/09/funny-sports-1.jpg?9d7bd4" alt="img07" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://static.www.real.com/resources/wp-content/uploads/2012/09/Fotolia_44337909_XS.jpg" alt="img08" />
        </div>
      </figure>
      <figure>
        <div>
          <img src="http://media.salon.com/2012/12/shutterstock_121725847.jpg" alt="img09" />
        </div>
      </figure>
    </div>
  </div>
</div><!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_include_tag "wallgallery.js" %>
<script>
  $(function() {

  Gallery.init( {
  layout : [3,2,3,2]
  } );

  });
</script>
