<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Give it a try</title>
    <meta name="description" content="Portfolio" />
    <meta name="keywords" content="Give it a try" />
    <meta name="author" content="Faizal Zakaria" />
    <%= stylesheet_link_tag "default", :media => "all" %>
    <%= stylesheet_link_tag "component", :media => "all" %>
    <%= javascript_include_tag "modernizr.custom.js" %>
  </head>
<body>

<%= yield %>

</body>
</html>
